<div class="row">
    <div class="span12">
        <header id="header">
            <h1 class="text-center">Open Menu App</h1>
        </header>
    </div>
</div>
<div class="row">
    <div class="span2">
        <nav id="nav">
            <ul>
                <li><a href="#openMenus">Open menus</a></li>
            </ul>
        </nav>
    </div>
    <div class="span10">
        <article id="main">
            <!--
            <div id="loading">
                <img src="/images/ajax-loader.gif" />
            </div>
            -->
        </article>
    </div>
</div>
<div class="row">
    <div class="span12">
        <footer id="footer">
            <p class="text-center">Built with <a href="https://github.com/mrichard/generator-marionette" target="_blank">generator-marionette</a></p>
        </footer>
    </div>
</div>
<div id="dialog">
</div>
