<ul class="nav nav-tabs">
    <li><a href="#menu"></li>
    <li><a href="#menu-groups"></li>
    <li><a href="#menu-items"></li>
</ul>
<div class="tab-content">
    <div class="tab-pane" id="menu">
    </div>
    <div class="tab-pane" id="menu-groups">
    </div>
    <div class="tab-pane" id="menu-items">
    </div>
</div>
