<div class="row">
    <div class="span10 offset2">
        <ul class="breadcrumbs">
            <li><a href="#openMenus">Open Menus</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="span2">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#restaurant">Restaurant</a></li>
            <li><a href="#environment">Environment</a></li>
            <li><a href="#menus">Menus</a></li>
        </ul>
    </div>
    <div class="span10">
        <div class="tab-content">
            <div class="tab-pane active" id="restaurant">
                \{{restaurant}}
            </div>
            <div class="tab-pane" id="environment">
                \{{environment}}
            </div>
            <div class="tab-pane" id="menus">
                \{{menus}}
            </div>
        </div>
    </div>
</div>