<div class="row">
    <div class="span12">
        <div id="main-header">
            \{{article header}}
        </div>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div id="main-content">
            \{{article content}}
        </div>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div id="main-footer">
            \{{article footer}}
        </div>
    </div>
</div>