<div class="row">
    <div class="span12">
        <div id="main-header">
            \{{main header}}
        </div>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div id="main-body">
            \{{main body}}
        </div>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div id="main-footer">
            \{{main footer}}
        </div>
    </div>
</div>