<div class="row">
    <div class="span2">
        <div id="main-nav">
            \{{article nav}}
        </div>
    </div>
    <div class="span10">
        <div class="row">
            <div class="span10">
                <div id="main-header">
                    \{{article header}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span10">
                <div id="main-content">
                    \{{article content}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span10">
                <div id="main-footer">
                    \{{article footer}}
                </div>
            </div>
        </div>
    </div>
</div>