<div class="row">
    <div class="span2">
        <div id="main-nav">
            \{{main nav}}
        </div>
    </div>
    <div class="span10">
        <div class="row">
            <div class="span10">
                <div id="main-header">
                    \{{main header}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span10">
                <div id="main-body">
                    \{{main body}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span10">
                <div id="main-footer">
                    \{{main footer}}
                </div>
            </div>
        </div>
    </div>
</div>