@import 'sass-bootstrap/lib/bootstrap';

header {
    border-bottom:1px solid #ddd;
}

footer {
    border-top:1px solid #ddd;
}

.textarea-xlarge {
    width: 270px;
}

.modal > form {
    margin-bottom: 0;
}

.modal-header > h2 {
    margin-bottom: 0;
    margin-top: 0;
}