@import 'sass-bootstrap/lib/bootstrap';

header,
footer {
    margin: 1em;
    padding: 1em;
}

header {
    border-bottom: 1px solid #e5e5e5;
}

footer {
    border-top: 1px solid #e5e5e5;
}

.label {
    float: left;
    font-weight: normal;
    padding: 0.67em;
    text-align: right;
    width: 20%;
}

fieldset[name=sizeTypes] > div {
    margin-bottom:15px;
}

label > input,
.inputs {
    float: right;
    width: 70%;
}

.inputs > label {
    display: inline;
    margin-right:1em;
}

fieldset[name=buttons] {
    clear: both;
    text-align: center;
}
