<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		    <button aria-hidden="true" class="close" type="button">&times;</button>
		    <div class="modal-title"></div>
		</div>
		<div class="modal-body clearfix">
		</div>
		<div class="modal-footer">
		</div>
	</div>
</div>
