<td>
    <a href="#">{{menuItemName}}</a>
</td>
<td>
    {{menuItemCategory}}
</td>
<td>
    <a class="linkEditMenuItem" href="#" id="edit-{{itemUid}}">Edit</a>
</td>
<td>
    <a class="linkDeleteMenuItem" href="#" id="delete-{{itemUid}}">Delete</a>
</td>
