<div class="row">
    <div class="span2">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#restaurant-region">
                    Restaurant
                </a>
            </li>
            <li>
                <a href="#environment-region">
                    Environment
                </a>
            </li>
            <li>
                <a href="#menus-region">
                    Menus
                </a>
            </li>
        </ul>
    </div>
    <div class="span10">
        <div class="tab-content">
            <div class="tab-pane active" id="restaurant-region"></div>
            <div class="tab-pane" id="environment-region"></div>
            <div class="tab-pane" id="menus-region"></div>
        </div>
    </div>
</div>