{{#if buttons.save}}
	<button class="btn btn-primary js-save">Save</button>
{{/if}}
{{#if buttons.saveClose}}
	<button class="btn btn-secondary js-save-close">Save and close</button>
{{/if}}
{{#if buttons.cancel}}
	<button class="btn btn-secondary js-cancel">Cancel</button>
{{/if}}
