<div class="modal hide" id="addRestaurant">
    <div class="modal-header">
        <button aria-hidden="true" class="close" type="button">&times;</button>
        <h2>Add a restaurant</h2>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
    </div>
</div>
