<td><a href="#show">{{restaurantInfo.restaurantName}}</a></td>
<td>{{restaurantInfo.cityTown}}, {{restaurantInfo.stateProvince}}</td>
<td>{{restaurantInfo.phone}}</td>
<td><a href="#delete">Delete</a></td>
