<td class="col-sm-10">
	{{restaurant_info.restaurant_name}},
	{{restaurant_info.city_town}},
	{{restaurant_info.state_province}}
</td>
<td class="col-sm-1">
	<a class="btn btn-default btn-sm js-show" href="#" role="button">
		<i class="icon-eye-open"></i>
		Show
	</a>
</td>
<td class="col-sm-1">
	<button class="btn btn-default btn-sm js-delete" role="button">
		<i class="icon-remove"></i>
		Delete
	</button>
</td>
