<div class="row">
    <div class="span2">
        <ul class="nav nav-tabs">
            <li><a href="#restaurant" data-toggle="tab">Restaurant</a></li>
            <li><a href="#environment" data-toggle="tab">Environment</a></li>
            <li><a href="#menus" data-toggle="tab">Menus</a></li>
        </ul>
    </div>
    <div class="span6 tab-content">
        <div class="tab-pane active" id="restaurant">
        </div>
        <div class="tab-pane" id="environment">
        </div>
        <div class="tab-pane" id="menus">
        </div>
    </div>
</div>