<ul class="nav nav-tabs">
    <li class="active"><a href="#menuInfo">Menu info</a></li>
    <li><a href="#menuGroups">Menu groups</a></li>
    <li><a href="#menuItems">Menu items</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="menuInfo">
    </div>
    <div class="tab-pane" id="menuGroups">
    </div>
    <div class="tab-pane" id="menuItems">
    </div>
</div>