<div class="row">
    <div class="span10">
        <div id="menu">
            \{{menu}}
        </div>
    </div>
</div>
<div class="row">
    <div class="span10">
        <div id="menu-groups">
            \{{menu groups}}
        </div>
    </div>
</div>
<div class="row">
    <div class="span10">
        <div id="menu-items">
            \{{menu items}}
        </div>
    </div>
</div>
