<ul class="nav nav-tabs">
    <li class="active"><a href="#menu">Menu</a></li>
    <li><a href="#menu-groups">Menu groups</a></li>
    <li><a href="#menu-items">Menu items</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="menu">
    </div>
    <div class="tab-pane" id="menu-groups">
    </div>
    <div class="tab-pane" id="menu-items">
    </div>
</div>
