<td>
	{{restaurant_info.restaurant_name}}
</td>
<td>
	<a class="btn btn-default btn-sm js-show" href="#" role="button">
		<i class="icon-eye-open"></i>
		Show
	</a>
	<a class="btn btn-default btn-sm js-edit" href="#" role="button">
		<i class="icon-pencil"></i>
		Edit
	</a>
	<button class="btn btn-default btn-sm js-delete" role="button">
		<i class="icon-remove"></i>
		Delete
	</button>
</td>
