<header class="row" id="header">
    <div class="span4 offset2">
        <h1>Open Menu</h1>
    </div>
    <div class="span4 text-right">
        <select id="appSelector">
            <option value="private">Private App</option>
            <option value="public">Public App</option>
        </select>
    </div>
</header>
<div class="row">
    <div class="span8 offset2">
        <nav id="navigation">
        </nav>
        <article id="main">
<!--
            <div id="loading">
                <img src="/images/ajax-loader.gif" />
            </div>
-->
        </article>
    </div>
</div>
<footer class="row text-center" id="footer">
    <div class="span8 offset2">
        <p>Built with <a href="https://github.com/mrichard/generator-marionette" target="_blank">generator-marionette</a></p>
    </div>
</footer>
<div id="dialog">
</div>
