<ul class="nav nav-tabs">
    <li class="active"><a href="#menu-info-region">Menu info</a></li>
    <li><a href="#menu-groups-region">Menu groups</a></li>
    <li><a href="#menu-items-region">Menu items</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="menu-info-region"></div>
    <div class="tab-pane" id="menu-groups-region"></div>
    <div class="tab-pane" id="menu-items-region"></div>
</div>
