<h2>Title</h2>
<div class="row">
	<div class="col-sm-6">
		<h3>Restaurant</h3>
		<div id="a"></div>
	</div>
	<div class="col-sm-6">
		<h3>Environment</h3>
		<div id="b"></div>
		<h3>Title</h3>
		<div id="c"></div>
	</div>
</div>
