<div class="row">
	<div class="col-sm-4">
		<div id="restaurant-region"></div>
        <div id="environment-region"></div>
	</div>
	<div class="col-sm-8">
		<div id="menus-region"></div>
	</div>
</div>
