<div class="control-group">
    <a class="btn btn-primary margin-bottom-10px" href="#addOpenMenu">Add an Open Menu</a>
</div>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Restaurant Name</th>
            <th>Location</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>