<div class="control-group">
    <a class="btn btn-primary margin-bottom-10px" href="#addRestaurant">Add a Restaurant</a>
</div>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Restaurant Name</th>
            <th>Location</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>