<label class="span2 input-prepend">
    <span class="add-on">Size</span>
    <input class="input-small" name="sizeName" type="text" value="test" />
</label>
<label class="span2 input-prepend">
    <span class="add-on">Price</span>
    <input class="input-small" name="sizePrice" type="text" value="0" />
</label>
<div class="span2">
    <button class="btn addMenuItemSize">+</button>
    <button class="btn deleteMenuItemSize">-</button>
</div>
