    <legend>Add a Menu Item</legend>
    <label class="clearfix">
        <span class="label">Name</span>
        <input name="name" value="test" type="text" />
    </label>
    <label class="clearfix">
        <span class="label">Description</span>
        <input name="description" value="test" type="text" />
    </label>
    <label class="clearfix">
        <span class="label">Category</span>
        <input name="category" value="test" type="text" />
    </label>
    <label class="clearfix">
        <span class="label">Price</span>
        <input name="price" value="0" type="text" />
    </label>
    <label class="clearfix">
        <span class="label">Size name</span>
        <input name="sizeName" value="test" type="text" />
    </label>
    <label class="clearfix">
        <span class="label">Size price</span>
        <input name="sizePrice" value="0" type="text" />
    </label>
    <fieldset>
        <input class="btn btn-primary" type="submit" value="Save" />
        <input class="btn btn-secondary" type="reset" value="Reset" />
    </fieldset>