<label class="span2 input-prepend">
    <span class="add-on">Size</span>
    <input class="input-small" name="menuItemSizeName" type="text" />
</label>
<label class="span2 input-prepend">
    <span class="add-on">$</span>
    <input class="input-small" name="menuItemSizePrice" type="text" />
</label>
<div class="span1">
    <button class="btn addMenuItemSize">+</button>
    <button class="btn deleteMenuItemSize">-</button>
</div>
