<td>
    <a href="#">
        {{name}}
    </a>
</td>
<td>
    {{category}}
</td>
<td>
    {{#if price}}
        {{price}}
    {{else}}
        <div class="menuItemSizesContainer">
        </div>
    {{/if}}
</td>
