<div class="row">
    <div class="span4">
        <h2>Menu</h2>
    </div>
    <div class="span4 offset1 text-right">
        <a class="btn btn-primary" href="#addMenuItem">Add a Menu Item</a>
    </div>
</div>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price(s)</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>