<h2>Menu</h2>
<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Category</td>
            <td>Price(s)</td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>